<app-title-bar (settingsRequested)="settingsOpen.set(true)" (aboutRequested)="aboutOpen.set(true)" (tokenPermissionsRequested)="tokenPermissionsOpen.set(true)" />

<div class="app-shell">
  <app-sidebar [activeView]="activeView()" (navigate)="onNavigate($event)" />

  <main class="content">
    @switch (activeView()) {
      @case ('followers') {
        <app-connections-view tab="followers" />
      }
      @case ('following') {
        <app-connections-view tab="following" />
      }
      @case ('management') {
        <app-connections-view tab="management" />
      }
      @default {
        <app-search-view />
      }
    }
  </main>
</div>

@if (settingsOpen()) {
  <app-settings-dialog (close)="settingsOpen.set(false)" />
}

@if (aboutOpen()) {
  <app-about-dialog (close)="aboutOpen.set(false)" />
}

@if (tokenPermissionsOpen()) {
  <app-token-permissions-dialog (close)="tokenPermissionsOpen.set(false)" />
}
